 02 ‚Äì DATA PREPROCESSING

The purpose of this notebook is to clean and prepare the raw data so it‚Äôs suitable for analysis and modeling. This step includes loading the dataset, checking for issues like missing values or duplicates, and making sure the data types are correct. It also covers encoding categorical variables, scaling features, and preparing the train/test split.

1. Load the Datasets
   
Instead of loading a single file, this step loads all CSV files located in the data/raw/ folder into a dictionary of pandas DataFrames. Each dataset is stored using its filename (without the .csv extension) as the key. This approach allows easy access and inspection of multiple datasets simultaneously.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import os
import glob
import pandas as pd

# Path to the raw data folder
raw_data_path = '/content/drive/MyDrive/yacht-data-insights/data/raw/'

# Get a list of all CSV files in the folder
csv_files = glob.glob(os.path.join(raw_data_path, '*.csv'))

# Create a dictionary of DataFrames with the filename (without extension) as the key
dataframes = {}

for file in csv_files:
    name = os.path.splitext(os.path.basename(file))[0]  # filename without path or extension
    try:
        # Try reading the CSV with a specified encoding
        df = pd.read_csv(file, encoding='ISO-8859-1', low_memory=False)
        dataframes[name] = df
        print(f"Loaded {name} with shape {df.shape}")
    except Exception as e:
        print(f"Error loading {name}: {e}")

# Optionally, check the first file to confirm
if csv_files:
    first_file = csv_files[0]
    print(f"\nFirst file preview: {pd.read_csv(first_file, encoding='ISO-8859-1').head()}")
else:
    print("No CSV files found.")

Loaded named_anchorages_v1_20191205 with shape (166508, 10)
Loaded CVP_loitering_202411 with shape (684, 14)
Loaded named_anchorages_v1_20181108 with shape (119748, 7)
Loaded Weather-for-Boating-Activities with shape (1060, 6)
Loaded CVP_ports_202411 with shape (1410, 14)
Loaded boat_data with shape (9888, 10)
Loaded CVP_encounters_202411 with shape (348, 14)
Loaded sar_vessel_detections_pipev20231026_202410 with shape (268681, 10)
Loaded named_anchorages_v2_20201104 with shape (166515, 10)
Loaded boat_dataset with shape (10344, 38)
Loaded Boats_No_Price_dataset with shape (936, 26)
Loaded named_anchorages_v2_20221206 with shape (166482, 10)
Loaded sar_vessel_detections_pipev3_202411 with shape (248247, 10)
Loaded sar_vessel_detections_pipev3_202412 with shape (239081, 10)

First file preview:        s2id        lat        lon     label sublabel     label_source iso3  \
0  3e4e429b  26.914042  52.220320   SHARJAH      NaN  top_destination  IRN
1  1a575de7  -7.715992  11.724560  BLOCK 17      NaN  top_destination  AGO
2  3fcf5295  29.642077  48.696705  KAZ IRAQ      NaN  top_destination  KWT
3  3fcf52bf  29.644148  48.701873  KAZ IRAQ      NaN  top_destination  KWT
4  3fcf52bd  29.639744  48.701769  UMM QASR      NaN  top_destination  KWT

   distance_from_shore_m  drift_radius at_dock
0                63000.0      0.056322   False
1               134000.0      0.111111   False
2                33000.0      0.162583   False
3                33000.0      0.161623   False
4                33000.0      0.149964   False

<ipython-input-4-f3543a93a66b>:27: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  print(f"\nFirst file preview: {pd.read_csv(first_file, encoding='ISO-8859-1').head()}")

2. Initial Checks: Data Types, Missing Values, and Duplicates
This step involves checking the data types to ensure each column is correctly formatted. It also includes identifying any missing values by counting them for each column. Additionally, duplicate rows are checked for any repetitions. These checks help identify common data issues that need to be addressed before further analysis.

In [5]:
# Loop through each loaded DataFrame in the dictionary
for name, df in dataframes.items():
    print(f"\nüîç Initial checks for: {name}")

    # Overview of the dataset
    print("\nüìÑ Dataset Info:")
    print(df.info())

    # Count missing values per column
    print("\n‚ùì Missing Values per Column:")
    print(df.isnull().sum())

    # Check for duplicates
    print("\nüîÅ Number of Duplicate Rows:")
    print(df.duplicated().sum())

üîç Initial checks for: named_anchorages_v1_20191205

üìÑ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166508 entries, 0 to 166507
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   s2id                   166508 non-null  object
 1   lat                    166508 non-null  float64
 2   lon                    166508 non-null  float64
 3   label                  166502 non-null  object
 4   sublabel               5586 non-null    object
 5   label_source           166508 non-null  object
 6   iso3                   166501 non-null  object
 7   distance_from_shore_m  166483 non-null  float64
 8   drift_radius           166346 non-null  float64
 9   at_dock                166507 non-null  object
dtypes: float64(4), object(6)
memory usage: 12.7+ MB
None

‚ùì Missing Values per Column:
s2id                          0
lat                           0
lon                           0
label                         6
sublabel                 160922
label_source                  0
iso3                          7
distance_from_shore_m        25
drift_radius                162
at_dock                       1
dtype: int64

üîÅ Number of Duplicate Rows:
0

üîç Initial checks for: CVP_loitering_202411

üìÑ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 684 entries, 0 to 683
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   event_id         684 non-null    object
 1   event_type       684 non-null    object
 2   vessel_id        684 non-null    object
 3   event_start      684 non-null    object
 4   event_end        684 non-null    object
 5   lat_mean         684 non-null    float64
 6   lon_mean         684 non-null    float64
 7   lat_min          684 non-null    float64
 8   lat_max          684 non-null    float64
 9   lon_min          684 non-null    float64
 10  lon_max          684 non-null    float64
 11  event_info       684 non-null    object
 12  event_vessels    684 non-null    object
 13  event_geography  684 non-null    object
dtypes: float64(6), object(8)
memory usage: 74.9+ KB
None

‚ùì Missing Values per Column:
event_id           0
event_type         0
vessel_id          0
event_start        0
event_end          0
lat_mean           0
lon_mean           0
lat_min            0
lat_max            0
lon_min            0
lon_max            0
event_info         0
event_vessels      0
event_geography    0
dtype: int64

üîÅ Number of Duplicate Rows:
0

üîç Initial checks for: named_anchorages_v1_20181108

üìÑ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119748 entries, 0 to 119747
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   s2id             119748 non-null  object
 1   label            119746 non-null  object
 2   sublabel         4158 non-null    object
 3   iso3             119741 non-null  object
 4   lat              119748 non-null  float64
 5   lon              119748 non-null  float64
 6   anchorage_group  119748 non-null  object
dtypes: float64(2), object(5)
memory usage: 6.4+ MB
None

‚ùì Missing Values per Column:
s2id                    0
label                   2
sublabel           115590
iso3                    7
lat                     0
lon                     0
anchorage_group         0
dtype: int64

üîÅ Number of Duplicate Rows:
0

üîç Initial checks for: Weather-for-Boating-Activities

üìÑ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1060 entries, 0 to 1059
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   √Ø¬ª¬øWind Speed             1060 non-null   object
 1   Wave Height               1060 non-null   object
 2   Weather                   1060 non-null   object
 3   Day of the Week           1060 non-null   object
 4   Boat Technical Condition  1060 non-null   object
 5   Decision                  1060 non-null   object
dtypes: object(6)
memory usage: 49.8+ KB
None

‚ùì Missing Values per Column:
√Ø¬ª¬øWind Speed               0
Wave Height                 0
Weather                     0
Day of the Week             0
Boat Technical Condition    0
Decision                    0
dtype: int64

üîÅ Number of Duplicate Rows:
935

üîç Initial checks for: CVP_ports_202411

üìÑ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1410 entries, 0 to 1409
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   event_id         1410 non-null   object
 1   event_type       1410 non-null   object
 2   vessel_id        1410 non-null   object
 3   event_start      1410 non-null   object
 4   event_end        1410 non-null   object
 5   lat_mean         1410 non-null   float64
 6   lon_mean         1410 non-null   float64
 7   lat_min          1410 non-null   float64
 8   lat_max          1410 non-null   float64
 9   lon_min          1410 non-null   float64
 10  lon_max          1410 non-null   float64
 11  event_info       1410 non-null   object
 12  event_vessels    1410 non-null   object
 13  event_geography  1410 non-null   object
dtypes: float64(6), object(8)
memory usage: 154.3+ KB
None

‚ùì Missing Values per Column:
event_id           0
event_type         0
vessel_id          0
event_start        0
event_end          0
lat_mean           0
lon_mean           0
lat_min            0
lat_max            0
lon_min            0
lon_max            0
event_info         0
event_vessels      0
event_geography    0
dtype: int64

üîÅ Number of Duplicate Rows:
0

üîç Initial checks for: boat_data

üìÑ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9888 entries, 0 to 9887
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        9888 non-null   object
 1   Boat Type                    9888 non-null   object
 2   Manufacturer                 8550 non-null   object
 3   Type                         9882 non-null   object
 4   Year Built                   9888 non-null   int64
 5   Length                       9879 non-null   float64
 6   Width                        9832 non-null   float64
 7   Material                     8139 non-null   object
 8   Location                     9852 non-null   object
 9   Number of views last 7 days  9888 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 772.6+ KB
None

‚ùì Missing Values per Column:
Price                             0
Boat Type                         0
Manufacturer                   1338
Type                              6
Year Built                        0
Length                            9
Width                            56
Material                       1749
Location                         36
Number of views last 7 days       0
dtype: int64

üîÅ Number of Duplicate Rows:
0

üîç Initial checks for: CVP_encounters_202411

üìÑ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   event_id         348 non-null    object
 1   event_type       348 non-null    object
 2   vessel_id        348 non-null    object
 3   event_start      348 non-null    object
 4   event_end        348 non-null    object
 5   lat_mean         348 non-null    float64
 6   lon_mean         348 non-null    float64
 7   lat_min          348 non-null    float64
 8   lat_max          348 non-null    float64
 9   lon_min          348 non-null    float64
 10  lon_max          348 non-null    float64
 11  event_info       348 non-null    object
 12  event_vessels    348 non-null    object
 13  event_geography  348 non-null    object
dtypes: float64(6), object(8)
memory usage: 38.2+ KB
None

‚ùì Missing Values per Column:
event_id           0
event_type         0
vessel_id          0
event_start        0
event_end          0
lat_mean           0
lon_mean           0
lat_min            0
lat_max            0
lon_min            0
lon_max            0
event_info         0
event_vessels      0
event_geography    0
dtype: int64

üîÅ Number of Duplicate Rows:
0

üîç Initial checks for: sar_vessel_detections_pipev20231026_202410

üìÑ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268681 entries, 0 to 268680
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   scene_id          268681 non-null  object
 1   timestamp         268681 non-null  object
 2   lat               268681 non-null  float64
 3   lon               268681 non-null  float64
 4   presence_score    268681 non-null  float64
 5   length_m          268681 non-null  float64
 6   mmsi              211416 non-null  float64
 7   matching_score    268681 non-null  float64
 8   fishing_score     268680 non-null  float64
 9   matched_category  268681 non-null  object
dtypes: float64(7), object(3)
memory usage: 20.5+ MB
None

‚ùì Missing Values per Column:
scene_id                0
timestamp               0
lat                     0
lon                     0
presence_score          0
length_m                0
mmsi                57265
matching_score          0
fishing_score           1
matched_category        0
dtype: int64

üîÅ Number of Duplicate Rows:
0

üîç Initial checks for: named_anchorages_v2_20201104

üìÑ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166515 entries, 0 to 166514
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   s2id                   166515 non-null  object
 1   lat                    166515 non-null  float64
 2   lon                    166515 non-null  float64
 3   label                  166509 non-null  object
 4   sublabel               5596 non-null    object
 5   label_source           166515 non-null  object
 6   iso3                   166508 non-null  object
 7   distance_from_shore_m  166490 non-null  float64
 8   drift_radius           166346 non-null  float64
 9   at_dock                166480 non-null  object
dtypes: float64(4), object(6)
memory usage: 12.7+ MB
None

‚ùì Missing Values per Column:
s2id                          0
lat                           0
lon                           0
label                         6
sublabel                 160919
label_source                  0
iso3                          7
distance_from_shore_m        25
drift_radius                169
at_dock                      35
dtype: int64

üîÅ Number of Duplicate Rows:
0

üîç Initial checks for: boat_dataset

üìÑ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10344 entries, 0 to 10343
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        10344 non-null  object
 1   Category                     10344 non-null  object
 2   Boat Type                    10344 non-null  object
 3   Manufacturer                 8954 non-null   object
 4   Model                        10341 non-null  object
 5   Boat name                    1313 non-null   object
 6   Type                         10339 non-null  object
 7   Year Built                   9777 non-null   float64
 8   Condition                    3375 non-null   object
 9   Length                       10334 non-null  object
 10  Width                        10281 non-null  object
 11  Depth                        7234 non-null   object
 12  Displacement                 5051 non-null   object
 13  CE Design Category           782 non-null    object
 14  Cert Number of People        3597 non-null   float64
 15  Number of Cabins             6475 non-null   float64
 16  Number of beds               6407 non-null   float64
 17  Hull Color                   3311 non-null   object
 18  Number of Toilets            2156 non-null   float64
 19  Number of Bathrooms          463 non-null    float64
 20  Number of Showers            1941 non-null   float64
 21  Material                     8512 non-null   object
 22  Fresh Water Cap              2118 non-null   object
 23  Holding Tank                 819 non-null    object
 24  Propulsion                   3291 non-null   object
 25  Engine                       9535 non-null   object
 26  Engine Performance           8063 non-null   object
 27  Fuel Capacity                6814 non-null   object
 28  Fuel Type                    8022 non-null   object
 29  Engine Hours                 5133 non-null   object
 30  Max Speed                    892 non-null    object
 31  Cruising Speed               547 non-null    object
 32  Location                     10301 non-null  object
 33  Advertisement Date           870 non-null    object
 34  Number of views last 7 days  9981 non-null   object
 35  Comments                     7078 non-null   object
 36  Additional Comments          2454 non-null   object
 37  Equipment                    6174 non-null   object
dtypes: float64(7), object(31)
memory usage: 3.0+ MB
None

‚ùì Missing Values per Column:
Price                             0
Category                          0
Boat Type                         0
Manufacturer                   1390
Model                             3
Boat name                      9031
Type                              5
Year Built                      567
Condition                      6969
Length                           10
Width                            63
Depth                          3110
Displacement                   5293
CE Design Category             9562
Cert Number of People          6747
Number of Cabins               3869
Number of beds                 3937
Hull Color                     7033
Number of Toilets              8188
Number of Bathrooms            9881
Number of Showers              8403
Material                       1832
Fresh Water Cap                8226
Holding Tank                   9525
Propulsion                     7053
Engine                          809
Engine Performance             2281
Fuel Capacity                  3530
Fuel Type                      2322
Engine Hours                   5211
Max Speed                      9452
Cruising Speed                 9797
Location                         43
Advertisement Date             9474
Number of views last 7 days     363
Comments                       3266
Additional Comments            7890
Equipment                      4170
dtype: int64

üîÅ Number of Duplicate Rows:
1

üîç Initial checks for: Boats_No_Price_dataset

üìÑ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 936 entries, 0 to 935
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      936 non-null    int64
 1   id              936 non-null    int64
 2   type            936 non-null    object
 3   boatClass       936 non-null    object
 4   make            936 non-null    object
 5   model           936 non-null    object
 6   year            936 non-null    int64
 7   condition       936 non-null    object
 8   length_ft       936 non-null    float64
 9   beam_ft         885 non-null    float64
 10  dryWeight_lb    616 non-null    float64
 11  hullMaterial    936 non-null    object
 12  fuelType        885 non-null    object
 13  numEngines      936 non-null    int64
 14  totalHP         817 non-null    float64
 15  maxEngineYear   353 non-null    float64
 16  minEngineYear   350 non-null    float64
 17  engineCategory  705 non-null    object
 18  price           0 non-null      float64
 19  sellerId        936 non-null    int64
 20  city            921 non-null    object
 21  state           921 non-null    object
 22  zip             855 non-null    float64
 23  created_date    936 non-null    object
 24  created_month   936 non-null    int64
 25  created_year    936 non-null    int64
dtypes: float64(8), int64(7), object(11)
memory usage: 190.3+ KB
None

‚ùì Missing Values per Column:
Unnamed: 0          0
id                  0
type                0
boatClass           0
make                0
model               0
year                0
condition           0
length_ft           0
beam_ft            51
dryWeight_lb      320
hullMaterial        0
fuelType           51
numEngines          0
totalHP           119
maxEngineYear     583
minEngineYear     586
engineCategory    231
price             936
sellerId            0
city               15
state              15
zip                81
created_date        0
created_month       0
created_year        0
dtype: int64

üîÅ Number of Duplicate Rows:
0

üîç Initial checks for: named_anchorages_v2_20221206

üìÑ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166482 entries, 0 to 166481
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   s2id                   166482 non-null  object
 1   lat                    166482 non-null  float64
 2   lon                    166482 non-null  float64
 3   label                  166482 non-null  object
 4   sublabel               160198 non-null  object
 5   label_source           166482 non-null  object
 6   iso3                   166482 non-null  object
 7   distance_from_shore_m  166457 non-null  float64
 8   drift_radius           166329 non-null  float64
 9   dock                   166462 non-null  object
dtypes: float64(4), object(6)
memory usage: 12.7+ MB
None

‚ùì Missing Values per Column:
s2id                        0
lat                         0
lon                         0
label                       0
sublabel                 6284
label_source                0
iso3                        0
distance_from_shore_m      25
drift_radius              153
dock                       20
dtype: int64

üîÅ Number of Duplicate Rows:
0

üîç Initial checks for: sar_vessel_detections_pipev3_202411

üìÑ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248247 entries, 0 to 248246
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   scene_id          248247 non-null  object
 1   timestamp         248247 non-null  object
 2   lat               248247 non-null  float64
 3   lon               248247 non-null  float64
 4   presence_score    248247 non-null  float64
 5   length_m          248247 non-null  float64
 6   mmsi              193266 non-null  float64
 7   matching_score    248247 non-null  float64
 8   fishing_score     248245 non-null  float64
 9   matched_category  248247 non-null  object
dtypes: float64(7), object(3)
memory usage: 18.9+ MB
None

‚ùì Missing Values per Column:
scene_id                0
timestamp               0
lat                     0
lon                     0
presence_score          0
length_m                0
mmsi                54981
matching_score          0
fishing_score           2
matched_category        0
dtype: int64

üîÅ Number of Duplicate Rows:
0

üîç Initial checks for: sar_vessel_detections_pipev3_202412

üìÑ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239081 entries, 0 to 239080
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   scene_id          239081 non-null  object
 1   timestamp         239081 non-null  object
 2   lat               239081 non-null  float64
 3   lon               239081 non-null  float64
 4   presence_score    239081 non-null  float64
 5   length_m          239081 non-null  float64
 6   mmsi              188601 non-null  float64

3. Merging Anchorages Datasets. The anchorage datasets were merged into a single DataFrame to facilitate unified analysis. This step combined multiple datasets related to anchorages, ensuring that all relevant data from different timeframes and sources is present in one dataset. This is an essential step for streamlining further data analysis and avoiding redundant information across multiple datasets.

In [7]:
# 1. Merging the Anchorages datasets
# Assuming the datasets have already been loaded into the `dataframes` dictionary

# Select the anchorage datasets
anchorage_keys = [key for key in dataframes.keys() if 'anchorages' in key]

# Print the datasets being merged
print("Merging the following Anchorage datasets:")
for key in anchorage_keys:
    print(f"- {key}")

# Merge them into a single DataFrame
df_anchorages = pd.concat([dataframes[key] for key in anchorage_keys], ignore_index=True)

# Display quick check
print("\nCombined Anchorage dataset shape:", df_anchorages.shape)
print(df_anchorages.head())

Merging the following Anchorage datasets:
- named_anchorages_v1_20191205
- named_anchorages_v1_20181108
- named_anchorages_v2_20201104
- named_anchorages_v2_20221206

Combined Anchorage dataset shape: (619253, 12)
       s2id        lat        lon     label sublabel     label_source iso3  \
0  3e4e429b  26.914042  52.220320   SHARJAH      NaN  top_destination  IRN
1  1a575de7  -7.715992  11.724560  BLOCK 17      NaN  top_destination  AGO
2  3fcf5295  29.642077  48.696705  KAZ IRAQ      NaN  top_destination  KWT
3  3fcf52bf  29.644148  48.701873  KAZ IRAQ      NaN  top_destination  KWT
4  3fcf52bd  29.639744  48.701769  UMM QASR      NaN  top_destination  KWT

   distance_from_shore_m  drift_radius at_dock anchorage_group dock
0                63000.0      0.056322   False             NaN  NaN
1               134000.0      0.111111   False             NaN  NaN
2                33000.0      0.162583   False             NaN  NaN
3                33000.0      0.161623   False             NaN  NaN
4                33000.0      0.149964   False             NaN  NaN

4. Handling Missing Values Across Multiple Datasets. This step ensures that all loaded datasets are properly cleaned by addressing missing values. A loop iterates through each dataset, checking for columns with missing data. For categorical columns like 'sublabel', missing values are filled with 'Unknown', while numerical columns such as 'Length' and 'Width' are filled using the median value. This approach ensures that missing data is handled consistently across all datasets, preventing KeyErrors by verifying the existence of each column before making changes. After cleaning, the missing value count is rechecked to confirm successful handling.

In [10]:
# Loop through each dataset in your collection
for name, df in dataframes.items():
    print(f"\nSample values for 'Length' and 'Width' in dataset: {name}")

    # Sample values for 'Length' column
    if 'Length' in df.columns:
        print("\nSample values in 'Length' column:")
        print(df['Length'].head(10))
        # Check for missing values in 'Length'
        print(f"Missing values in 'Length' column: {df['Length'].isnull().sum()}")

    # Sample values for 'Width' column
    if 'Width' in df.columns:
        print("\nSample values in 'Width' column:")
        print(df['Width'].head(10))
        # Check for missing values in 'Width'
        print(f"Missing values in 'Width' column: {df['Width'].isnull().sum()}")

    print("-" * 50)

Sample values for 'Length' and 'Width' in dataset: named_anchorages_v1_20191205
--------------------------------------------------

Sample values for 'Length' and 'Width' in dataset: CVP_loitering_202411
--------------------------------------------------

Sample values for 'Length' and 'Width' in dataset: named_anchorages_v1_20181108
--------------------------------------------------

Sample values for 'Length' and 'Width' in dataset: Weather-for-Boating-Activities
--------------------------------------------------

Sample values for 'Length' and 'Width' in dataset: CVP_ports_202411
--------------------------------------------------

Sample values for 'Length' and 'Width' in dataset: boat_data

Sample values in 'Length' column:
0    4.00
1    4.00
2    3.69
3    3.00
4    3.55
5    4.03
6    6.20
7    3.00
8    3.64
9    4.35
Name: Length, dtype: float64
Missing values in 'Length' column: 0

Sample values in 'Width' column:
0    1.90
1    1.50
2    1.42
3    1.00
4    1.46
5    1.56
6    2.38
7    3.33
8    1.37
9    1.73
Name: Width, dtype: float64
Missing values in 'Width' column: 0
--------------------------------------------------

Sample values for 'Length' and 'Width' in dataset: CVP_encounters_202411
--------------------------------------------------

Sample values for 'Length' and 'Width' in dataset: sar_vessel_detections_pipev20231026_202410
--------------------------------------------------

Sample values for 'Length' and 'Width' in dataset: named_anchorages_v2_20201104
--------------------------------------------------

Sample values for 'Length' and 'Width' in dataset: boat_dataset

Sample values in 'Length' column:
0    4.00
1    4.00
2    3.69
3    3.00
4    6.30
5    3.55
6    4.03
7    6.20
8    3.00
9    3.64
Name: Length, dtype: float64
Missing values in 'Length' column: 0

Sample values in 'Width' column:
0    1.90
1    1.50
2    1.42
3    1.00
4    2.50
5    1.46
6    1.56
7    2.38
8    3.30
9    1.37
Name: Width, dtype: float64
Missing values in 'Width' column: 0
--------------------------------------------------

Sample values for 'Length' and 'Width' in dataset: Boats_No_Price_dataset
--------------------------------------------------

Sample values for 'Length' and 'Width' in dataset: named_anchorages_v2_20221206
--------------------------------------------------

Sample values for 'Length' and 'Width' in dataset: sar_vessel_detections_pipev3_202411
--------------------------------------------------

Sample values for 'Length' and 'Width' in dataset: sar_vessel_detections_pipev3_202412
--------------------------------------------------

In [9]:
# Loop through each dataset in your collection
for name, df in dataframes.items():
    print(f"\nSample values for 'Length' and 'Width' in dataset: {name}")

    # Sample values for 'Length' column
    if 'Length' in df.columns:
        print("Sample values in 'Length' column:")
        print(df['Length'].head(10))

    # Sample values for 'Width' column
    if 'Width' in df.columns:
        print("Sample values in 'Width' column:")
        print(df['Width'].head(10))

Sample values for 'Length' and 'Width' in dataset: named_anchorages_v1_20191205

Sample values for 'Length' and 'Width' in dataset: CVP_loitering_202411

Sample values for 'Length' and 'Width' in dataset: named_anchorages_v1_20181108

Sample values for 'Length' and 'Width' in dataset: Weather-for-Boating-Activities

Sample values for 'Length' and 'Width' in dataset: CVP_ports_202411

Sample values for 'Length' and 'Width' in dataset: boat_data
Sample values in 'Length' column:
0    4.00
1    4.00
2    3.69
3    3.00
4    3.55
5    4.03
6    6.20
7    3.00
8    3.64
9    4.35
Name: Length, dtype: float64
Sample values in 'Width' column:
0    1.90
1    1.50
2    1.42
3    1.00
4    1.46
5    1.56
6    2.38
7    3.33
8    1.37
9    1.73
Name: Width, dtype: float64

Sample values for 'Length' and 'Width' in dataset: CVP_encounters_202411

Sample values for 'Length' and 'Width' in dataset: sar_vessel_detections_pipev20231026_202410

Sample values for 'Length' and 'Width' in dataset: named_anchorages_v2_20201104

Sample values for 'Length' and 'Width' in dataset: boat_dataset
Sample values in 'Length' column:
0    4.00
1    4.00
2    3.69
3    3.00
4    6.30
5    3.55
6    4.03
7    6.20
8    3.00
9    3.64
Name: Length, dtype: float64
Sample values in 'Width' column:
0    1.90
1    1.50
2    1.42
3    1.00
4    2.50
5    1.46
6    1.56
7    2.38
8    3.30
9    1.37
Name: Width, dtype: float64

Sample values for 'Length' and 'Width' in dataset: Boats_No_Price_dataset

Sample values for 'Length' and 'Width' in dataset: named_anchorages_v2_20221206

Sample values for 'Length' and 'Width' in dataset: sar_vessel_detections_pipev3_202411

Sample values for 'Length' and 'Width' in dataset: sar_vessel_detections_pipev3_202412

5. Remove Duplicates
Removing duplicate rows to avoid bias and redundancy during analysis or training.

In [ ]:
# Drop duplicates
df = df.drop_duplicates()

6. Encode Categorical Variables
Categorical columns were one-hot encoded to convert them into a numerical format suitable for machine learning models.

In [ ]:
# One-hot encode selected categorical column
df = pd.get_dummies(df, columns=['categorical_column'])

7. Scale Numerical Features
Numerical features were scaled using StandardScaler to ensure all features contribute equally to model performance.

In [ ]:
from sklearn.preprocessing import StandardScaler

# Apply standard scaling
scaler = StandardScaler()
df[['numerical_column1', 'numerical_column2']] = scaler.fit_transform(df[['numerical_column1', 'numerical_column2']])

8. Split Dataset into Train/Test
The cleaned and prepared dataset was split into training and testing sets to allow model validation on unseen data.

In [ ]:
from sklearn.model_selection import train_test_split

# Separate features and target
X = df.drop('target_column', axis=1)
y = df['target_column']

# Create training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)